<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Management</title>
    <!-- CSS only -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
        integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">

    <!-- JS, Popper.js, and jQuery -->
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
        integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous">
    </script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js"
        integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous">
    </script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"
        integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV" crossorigin="anonymous">
    </script>
</head>

<body>
    <div id="app">
        <div id="navbar">

        </div>
        <br>
        <h3 class="text-center">Client List</h3>
        <br>
        <div class="container" id="container">
            <form class="form-inline">
                <div class="form-group mx-sm-3 mb-2">
                    <label for="name" class="sr-only">Name</label>
                    <input type="text" class="form-control" v-model="tempClient.name" placeholder="Name">
                </div>

                <div class="form-group mx-sm-3 mb-2">
                    <label for="legalCertificate" class="sr-only">Legal Certificate</label>
                    <input type="text" class="form-control" v-model="tempClient.legalCertificate"
                        placeholder="Legal Certificate">
                </div>

                <div class="form-group mx-sm-3 mb-2">
                    <label for="webPage" class="sr-only">Web Page</label>
                    <input type="text" class="form-control" v-model="tempClient.webPage" placeholder="Web page">
                </div>

                <div class="form-group mx-sm-3 mb-2">
                    <label for="address" class="sr-only">Address</label>
                    <input type="text" class="form-control" v-model="tempClient.address" placeholder="Address">
                </div>

                <div class="form-group mx-sm-3 mb-2">
                    <label for="Sector" class="sr-only">Sector</label>
                    <input type="text" class="form-control" v-model="tempClient.sector" placeholder="Sector">
                </div>

                <div class="form-group mx-sm-3 mb-2">
                    <label for="phone" class="sr-only">Phone Number</label>
                    <input type="tel" class="form-control" v-model="tempClient.phoneNumber" placeholder="Phone Number">
                </div>

                <button class="btn btn-primary mb-2" @click="save">Save</button>
            </form>
            <br>
            <table class="table table-striped table-hover table-sm text-center">
                <thead class="table-info">
                    <tr>
                        <th scope="col">Name</th>
                        <th scope="col">Legal Certificate</th>
                        <th scope="col">Web Page</th>
                        <th scope="col">Address</th>
                        <th scope="col">Sector</th>
                        <th scope="col">Phone Number</th>
                        <th scope="col">Actions</th>
                    </tr>
                </thead>
                <tr v-for="(client, index) in clients" :key="index">
                    <td>{{client.name}}</td>
                    <td>{{client.legalCertificate}}</td>
                    <td>{{client.webPage}}</td>
                    <td>{{client.address}}</td>
                    <td>{{client.phoneNumber}}</td>
                    <td>{{client.sector}}</td>
                    <td>
                        <div class="field">
                            <p class="control">
                                <button class="btn btn-warning" @click="selectClient(index)">
                                    Edit
                                </button>
                                <button class="btn btn-danger" @click="deleteClient(index)">
                                    Delete
                                </button>
                            </p>
                        </div>
                    </td>
                </tr>
            </table>
        </div>
    </div>
</body>

<script src="JavaScript\axios.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
<script src="JavaScript\credenciales.js"></script>
<script>
    var app = new Vue({
        el: "#app",
        data: {
            clients: [],
            client: {},
            tempClient: {
                name: "",
                legalCertificate: "",
                webPage: "",
                address: "",
                sector: "",
                phoneNumber: "",
                index: null,
            },
            token: "",
            rol: "",
            userLogged: "",
        },
        created() {
            this.getClients();
            this.token = localStorage.getItem("token");
            tokenData = JSON.parse(localStorage.getItem("tokenData"));
            userLogged = localStorage.getItem("user");
            this.validateRol();
            console.log(this.userLogged);


        },
        methods: {
            //Método para obtener los servicios.
            getClients() {
                const TOKEN = localStorage.getItem("token")
                axios({
                        method: "get",
                        url: "http://localhost:3000/api/clients",
                        headers: {
                            'Content-Type': 'application/json',
                            'Authorization': 'Bearer ' + TOKEN
                        },
                    })
                    .then((response) => {
                        // JSON responses are automatically parsed.
                        this.clients = response.data;
                        var objetivo = document.getElementById('name');
                        objetivo.innerHTML += this.userLogged;

                    })
                    .catch((e) => {
                        // this.errors.push(e);
                        console.log(e);
                    })
                    .finally(() => {});
            },
            createClient() {
                const TOKEN = localStorage.getItem("token")
                axios({
                        method: "post",
                        url: "http://localhost:3000/api/clients",
                        headers: {
                            'Content-Type': 'application/json',
                            'Authorization': 'Bearer ' + TOKEN
                        },
                        data: {
                            name: this.tempClient.name,
                            legalCertificate: this.tempClient.legalCertificate,
                            webPage: this.tempClient.webPage,
                            address: this.tempClient.address,
                            sector: this.tempClient.sector,
                            phoneNumber: this.tempClient.phoneNumber
                        }
                    })
                    .then((response) => {
                        // JSON responses are automatically parsed.
                        this.clients.push(response.data);
                    })
                    .catch((e) => {
                        // this.errors.push(e);
                        console.log(e);
                    })
                    .finally(() => {});
            },

            editClient(index) {
                const TOKEN = localStorage.getItem("token")
                axios({
                        method: "put",
                        url: `http://localhost:3000/api/clients?id=${this.clients[index]._id}`,
                        headers: {
                            'Content-Type': 'application/json',
                            'Authorization': 'Bearer ' + TOKEN
                        },
                        data: {
                            name: this.tempClient.name,
                            legalCertificate: this.tempClient.legalCertificate,
                            webPage: this.tempClient.webPage,
                            address: this.tempClient.address,
                            sector: this.tempClient.sector,
                            phoneNumber: this.tempClient.phoneNumber
                        },
                    })
                    .then((response) => {
                        this.clients.splice(index, 1, response
                            .data
                        ); //Reemplazar con el response.data el valor en la posicion index de la lista
                        this.tempClient.name = "";
                        this.tempClient.legalCertificate = "";
                        this.tempClient.webPage = "";
                        this.tempClient.address = "";
                        this.tempClient.sector = "";
                        this.tempClient.phoneNumber = "";
                    })
                    .catch((e) => {
                        // this.errors.push(e);
                        console.log(e);
                    })
                    .finally(() => {});
            },

            /*Método que valida si el campo no está vacío, y además verifica si hay un index seleccionado, si el index es diferente de null
            debe usar el método de editar y si no debe usar el método de agregar.*/
            save() {
                if (
                    !(
                        this.tempClient.name == "" ||
                        this.tempClient.name == null ||
                        this.tempClient.legalCertificate == "" ||
                        this.tempClient.legalCertificate == null ||
                        this.tempClient.webPage == "" ||
                        this.tempClient.webPage == null ||
                        this.tempClient.address == "" ||
                        this.tempClient.address == null ||
                        this.tempClient.phoneNumber == "" ||
                        this.tempClient.phoneNumber == null ||
                        this.tempClient.sector == "" ||
                        this.tempClient.sector == null
                    )
                ) {
                    if (this.tempClient.index != null) {
                        console.log("edit");
                        this.editClient(this.tempClient.index);
                        this.tempClient.index = null;
                    } else {
                        console.log("add");
                        this.createClient();
                        this.tempClient.index = null;
                    }
                }
            },

            //Método para seleccionar un canal.
            selectClient(index) {
                this.tempClient.name = this.clients[index].name;
                this.tempClient.legalCertificate = this.clients[index].legalCertificate;
                this.tempClient.webPage = this.clients[index].webPage;
                this.tempClient.address = this.clients[index].address;
                this.tempClient.phoneNumber = this.clients[index].phoneNumber;
                this.tempClient.sector = this.clients[index].sector;
                this.tempClient.index = index;
            },

            //Método para eliminar un canal.
            deleteClient(index) {
                const TOKEN = localStorage.getItem("token")
                axios({
                        method: "delete",
                        url: `http://localhost:3000/api/clients?id=${this.clients[index]._id}`,
                        headers: {
                            'Content-Type': 'application/json',
                            'Authorization': 'Bearer ' + TOKEN
                        }
                    })
                    .then((response) => {
                        // JSON responses are automatically parsed.
                        this.clients.splice(index, 1);
                    })
                    .catch((e) => {
                        // this.errors.push(e);
                        console.log(e);
                    })
                    .finally(() => {});
            },

            logout() {
                const TOKEN = localStorage.getItem("token")
                axios({
                        method: "delete",
                        url: `http://localhost:3000/api/session`,
                        headers: {
                            'Content-Type': 'application/json',
                            'Authorization': 'Bearer ' + TOKEN
                        }
                    })
                    .then((response) => {
                        localStorage.removeItem("token");
                        localStorage.removeItem("tokenData");
                        localStorage.removeItem("user");
                        window.location.replace("./login.html");
                    })
                    .catch((e) => {
                        // this.errors.push(e);
                        console.log(e);
                    })
                    .finally(() => {});
            },

            validateRol() {
                if (tokenData.rol == "Administrador") {
                    var objetivo = document.getElementById('navbar');
                    objetivo.innerHTML += "<nav class='navbar navbar-expand-lg navbar-light bg-light'>" +
                        "<a class='navbar-brand' href='#' id='name'>Welcome </a>" +
                        "<button class='navbar-toggler' type='button' data-toggle='collapse' data-target='#navbarNavDropdown'" +
                        "aria-controls='navbarNavDropdown' aria-expanded='false' aria-label='Toggle navigation'>" +
                        "<span class='navbar-toggler-icon'></span>" +
                        "</button>" +
                        "<div class='collapse navbar-collapse' id='navbarNavDropdown'>" +
                        "<ul class='navbar-nav ml-auto'>" +
                        "<li class='nav-item'>" +
                        "<a class='nav-link' href='./users.html'>Manage Users</span></a></li>" +
                        " <li class='nav-item'>" +
                        "<a class='nav-link' href='./client.html'>Manage Clients</a> </li>" +
                        "<li class='nav-item'><a class='nav-link' href='./contacts.html'>Manage Contacts</a></li>" +
                        "<li class='nav-item'><a class='nav-link' href='./meetings.html'>Manage Meetings</a></li>" +
                        "<li class='nav-item mr-sm-2'><a class='nav-link' href='./support.html'>Support tickets</a></li>" +
                        "<li class='nav-item dropdown'>" +
                        "<a class='nav-link dropdown-toggle' href='' id='navbarDropdown' role='button' data-toggle='dropdown' aria-haspopup='true' aria-expanded='false'> " +
                        "Reports</a>" +
                        "<div class='dropdown-menu' aria-labelledby='navbarDropdown'>" +
                        "<a class='dropdown-item' href='./graphql/contactGraph.html'>Contacts</a>" +
                        "<a class='dropdown-item' href='./graphql/meetingGraph.html'>Meetings</a>" +
                        "<a class='dropdown-item' href='./graphql/supportGraph.html'>Support Tickets</a>" +
                        "</div>" +
                        "</li>" +
                        "<li class='nav-item mr-sm-2'><a class='nav-link' @click='logout'>Logout</a></li>" +
                        "</ul>" +
                        "</div>" +
                        "</nav>";
                } else {
                    var objetivo = document.getElementById('navbar');
                    objetivo.innerHTML += "<nav class='navbar navbar-expand-lg navbar-light bg-light'>" +
                        "<a class='navbar-brand' href='#' id='name'>Welcome </a>" +
                        "<button class='navbar-toggler' type='button' data-toggle='collapse' data-target='#navbarNavDropdown'" +
                        "aria-controls='navbarNavDropdown' aria-expanded='false' aria-label='Toggle navigation'>" +
                        "<span class='navbar-toggler-icon'></span>" +
                        "</button>" +
                        "<div class='collapse navbar-collapse' id='navbarNavDropdown'>" +
                        "<ul class='navbar-nav ml-auto'>" +
                        "<li class='nav-item'>" +
                        "<a class='nav-link' href='./client.html'>Manage Clients</a> </li>" +
                        "<li class='nav-item'><a class='nav-link' href='./contacts.html'>Manage Contacts</a></li>" +
                        "<li class='nav-item'><a class='nav-link' href='./meetings.html'>Manage Meetings</a></li>" +
                        "<li class='nav-item mr-sm-2'><a class='nav-link' href='./support.html'>Support tickets</a></li>" +
                        "<li class='nav-item dropdown'>" +
                        "<a class='nav-link dropdown-toggle' href='' id='navbarDropdown' role='button' data-toggle='dropdown' aria-haspopup='true' aria-expanded='false'> " +
                        "Reports</a>" +
                        "<div class='dropdown-menu' aria-labelledby='navbarDropdown'>" +
                        "<a class='dropdown-item' href='./graphql/contactGraph.html'>Contacts</a>" +
                        "<a class='dropdown-item' href='./graphql/meetingGraph.html'>Meetings</a>" +
                        "<a class='dropdown-item' href='./graphql/supportGraph.html'>Support Tickets</a>" +
                        "</div>" +
                        "</li>" +
                        "<li class='nav-item mr-sm-2'><a class='nav-link' @click='logout'>Logout</a></li>" +
                        "</ul>" +
                        "</div>" +
                        "</nav>";
                }
            },
        },
    });
</script>

</html>