<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Contacts</title>
    <!-- CSS only -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
        integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">

    <!-- JS, Popper.js, and jQuery -->
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
        integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous">
    </script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js"
        integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous">
    </script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"
        integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV" crossorigin="anonymous">
    </script>
</head>

<body>
    <div id="app">
        <div id="navbar">

        </div>
        <br>
        <h3 class="text-center">Contacts List</h3>
        <br>
        <div class="container" id="container">
            <form class="form-inline">
                <div class="col-sm-3">
                    <div class="form-group mx-sm-1 ">
                        <select v-model="tempContact.clientID" class="form-control">
                            <option disabled value="">Choose the client</option>
                            <option v-for="(client, index) in clients" :key="index">
                                {{ client.name}}
                            </option>
                        </select>
                    </div>
                </div>

                <div class="form-group mx-sm-3 mb-2">
                    <label for="name" class="sr-only">Name</label>
                    <input type="text" class="form-control" v-model="tempContact.name" placeholder="Name">
                </div>

                <div class="form-group mx-sm-3 mb-2">
                    <label for="lastname" class="sr-only">Lastname</label>
                    <input type="text" class="form-control" v-model="tempContact.lastname" placeholder="Lastname">
                </div>

                <div class="form-group mx-sm-3 mb-2">
                    <label for="email" class="sr-only">Email</label>
                    <input type="email" class="form-control" v-model="tempContact.email" placeholder="Email">
                </div>

                <div class="form-group mx-sm-3 mb-2">
                    <label for="phone" class="sr-only">Phone Number</label>
                    <input type="text" class="form-control" v-model="tempContact.phoneNumber" placeholder="Phone Number"
                        id="phone">
                </div>

                <div class="form-group mx-sm-3 mb-2">
                    <label for="position" class="sr-only">Position</label>
                    <input type="text" class="form-control" v-model="tempContact.position" placeholder="Position">
                </div>

                <button class="btn btn-primary mb-2" @click="save">Save</button>
            </form>
            <br>
            <table class="table table-striped table-hover table-sm text-center">
                <thead class="table-info">
                    <tr>
                        <th scope="col">Client</th>
                        <th scope="col">Name</th>
                        <th scope="col">Lastname</th>
                        <th scope="col">Email</th>
                        <th scope="col">Phone Number</th>
                        <th scope="col">Position</th>
                        <th scope="col">Actions</th>
                    </tr>
                </thead>
                <tr v-for="(contact, index) in contacts" :key="index">
                    <td>{{contact.clientID}}</td>
                    <td>{{contact.name}}</td>
                    <td>{{contact.lastname}}</td>
                    <td>{{contact.email}}</td>
                    <td>{{contact.position}}</td>
                    <td>{{contact.phoneNumber}}</td>
                    <td>
                        <div class="field">
                            <p class="control">
                                <button class="btn btn-warning" @click="selectContact(index)">
                                    Edit
                                </button>
                                <button class="btn btn-danger" @click="deleteContact(index)">
                                    Delete
                                </button>
                            </p>
                        </div>
                    </td>
                </tr>
            </table>
        </div>
    </div>
</body>

<script src="JavaScript\axios.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
<script src="JavaScript\credenciales.js"></script>
<script>
    var app = new Vue({
        el: "#app",
        data: {
            clients: [],
            client: {},
            contacts: [],
            contact: {},
            tempContact: {
                clientID: "",
                name: "",
                lastname: "",
                email: "",
                phoneNumber: "",
                position: "",
                index: null,
            },
            token: "",
            rol: "",
            userLogged: "",
        },
        created() {
            this.getClients();
            this.getContacts();
            this.token = localStorage.getItem("token");
            tokenData = JSON.parse(localStorage.getItem("tokenData"));
            userLogged = localStorage.getItem("user");
            this.validateRol();


        },
        methods: {
            getClients() {
                const TOKEN = localStorage.getItem("token")
                axios({
                        method: "get",
                        url: "http://localhost:3000/api/clients",
                        headers: {
                            'Content-Type': 'application/json',
                            'Authorization': 'Bearer ' + TOKEN
                        }
                    })
                    .then((response) => {
                        // JSON responses are automatically parsed.
                        this.clients = response.data;

                    })
                    .catch((e) => {
                        // this.errors.push(e);
                        console.log(e);
                    })
                    .finally(() => {});
            },
            //Método para obtener los servicios.
            getContacts() {
                const TOKEN = localStorage.getItem("token")
                axios({
                        method: "get",
                        url: "http://localhost:3000/api/contacts",
                        headers: {
                            'Content-Type': 'application/json',
                            'Authorization': 'Bearer ' + TOKEN
                        },
                    })
                    .then((response) => {
                        // JSON responses are automatically parsed.
                        this.contacts = response.data;
                        var objetivo = document.getElementById('name');
                        objetivo.innerHTML += this.userLogged;

                    })
                    .catch((e) => {
                        // this.errors.push(e);
                        console.log(e);
                    })
                    .finally(() => {});
            },
            createContact() {
                const TOKEN = localStorage.getItem("token")
                axios({
                        method: "post",
                        url: "http://localhost:3000/api/contacts",
                        headers: {
                            'Content-Type': 'application/json',
                            'Authorization': 'Bearer ' + TOKEN
                        },
                        data: {
                            clientID: this.tempContact.clientID,
                            name: this.tempContact.name,
                            lastname: this.tempContact.lastname,
                            email: this.tempContact.email,
                            position: this.tempContact.position,
                            phoneNumber: this.tempContact.phoneNumber
                        }
                    })
                    .then((response) => {
                        // JSON responses are automatically parsed.
                        this.contacts.push(response.data);
                    })
                    .catch((e) => {
                        // this.errors.push(e);
                        console.log(e);
                    })
                    .finally(() => {});
            },

            editContact(index) {
                const TOKEN = localStorage.getItem("token")
                axios({
                        method: "put",
                        url: `http://localhost:3000/api/contacts?id=${this.contacts[index]._id}`,
                        headers: {
                            'Content-Type': 'application/json',
                            'Authorization': 'Bearer ' + TOKEN
                        },
                        data: {
                            clientID: this.tempContact.clientID,
                            name: this.tempContact.name,
                            lastname: this.tempContact.lastname,
                            email: this.tempContact.email,
                            position: this.tempContact.position,
                            phoneNumber: this.tempContact.phoneNumber
                        },
                    })
                    .then((response) => {
                        this.contacts.splice(index, 1, response
                            .data
                        ); //Reemplazar con el response.data el valor en la posicion index de la lista
                        this.tempContact.clientID = "";
                        this.tempContact.name = "";
                        this.tempContact.lastname = "";
                        this.tempContact.email = "";
                        this.tempContact.position = "";
                        this.tempContact.phoneNumber = "";
                    })
                    .catch((e) => {
                        // this.errors.push(e);
                        console.log(e);
                    })
                    .finally(() => {});
            },

            /*Método que valida si el campo no está vacío, y además verifica si hay un index seleccionado, si el index es diferente de null
            debe usar el método de editar y si no debe usar el método de agregar.*/
            save() {
                if (
                    !(
                        this.tempContact.clientID == "" ||
                        this.tempContact.clientID == null ||
                        this.tempContact.name == "" ||
                        this.tempContact.name == null ||
                        this.tempContact.lastname == "" ||
                        this.tempContact.lastname == null ||
                        this.tempContact.email == "" ||
                        this.tempContact.email == null ||
                        this.tempContact.phoneNumber == "" ||
                        this.tempContact.phoneNumber == null ||
                        this.tempContact.position == "" ||
                        this.tempContact.position == null
                    )
                ) {
                    if (this.tempContact.index != null) {
                        console.log("edit");
                        this.editContact(this.tempContact.index);
                        this.tempContact.index = null;
                    } else {
                        console.log("add");
                        this.createContact();
                        this.tempContact.index = null;
                    }
                }
            },

            //Método para seleccionar un canal.
            selectContact(index) {
                this.tempContact.clientID = this.contacts[index].clientID;
                this.tempContact.name = this.contacts[index].name;
                this.tempContact.lastname = this.contacts[index].lastname;
                this.tempContact.email = this.contacts[index].email;
                this.tempContact.phoneNumber = this.contacts[index].phoneNumber;
                this.tempContact.position = this.contacts[index].position;
                this.tempContact.index = index;
            },

            //Método para eliminar un canal.
            deleteContact(index) {
                const TOKEN = localStorage.getItem("token")
                axios({
                        method: "delete",
                        url: `http://localhost:3000/api/contacts?id=${this.contacts[index]._id}`,
                        headers: {
                            'Content-Type': 'application/json',
                            'Authorization': 'Bearer ' + TOKEN
                        }
                    })
                    .then((response) => {
                        // JSON responses are automatically parsed.
                        this.contacts.splice(index, 1);
                    })
                    .catch((e) => {
                        // this.errors.push(e);
                        console.log(e);
                    })
                    .finally(() => {});
            },

            logout() {
                const TOKEN = localStorage.getItem("token")
                axios({
                        method: "delete",
                        url: `http://localhost:3000/api/session`,
                        headers: {
                            'Content-Type': 'application/json',
                            'Authorization': 'Bearer ' + TOKEN
                        }
                    })
                    .then((response) => {
                        localStorage.removeItem("token");
                        localStorage.removeItem("tokenData");
                        window.location.replace("./login.html");
                    })
                    .catch((e) => {
                        // this.errors.push(e);
                        console.log(e);
                    })
                    .finally(() => {});
            },

            validateRol() {
                if (tokenData.rol == "Administrador") {
                    var objetivo = document.getElementById('navbar');
                    objetivo.innerHTML += "<nav class='navbar navbar-expand-lg navbar-light bg-light'>" +
                        "<a class='navbar-brand' href='#' id='name'>Welcome </a>" +
                        "<button class='navbar-toggler' type='button' data-toggle='collapse' data-target='#navbarNavDropdown'" +
                        "aria-controls='navbarNavDropdown' aria-expanded='false' aria-label='Toggle navigation'>" +
                        "<span class='navbar-toggler-icon'></span>" +
                        "</button>" +
                        "<div class='collapse navbar-collapse' id='navbarNavDropdown'>" +
                        "<ul class='navbar-nav ml-auto'>" +
                        "<li class='nav-item'>" +
                        "<a class='nav-link' href='./users.html'>Manage Users</span></a></li>" +
                        " <li class='nav-item'>" +
                        "<a class='nav-link' href='./client.html'>Manage Clients</a> </li>" +
                        "<li class='nav-item'><a class='nav-link' href='./contacts.html'>Manage Contacts</a></li>" +
                        "<li class='nav-item'><a class='nav-link' href='./meetings.html'>Manage Meetings</a></li>" +
                        "<li class='nav-item mr-sm-2'><a class='nav-link' href='./support.html'>Support tickets</a></li>" +
                        "<li class='nav-item dropdown'>" +
                        "<a class='nav-link dropdown-toggle' href='' id='navbarDropdown' role='button' data-toggle='dropdown' aria-haspopup='true' aria-expanded='false'> " +
                        "Reports</a>" +
                        "<div class='dropdown-menu' aria-labelledby='navbarDropdown'>" +
                        "<a class='dropdown-item' href='./graphql/contactGraph.html'>Contacts</a>" +
                        "<a class='dropdown-item' href='./graphql/meetingGraph.html'>Meetings</a>" +
                        "<a class='dropdown-item' href='./graphql/supportGraph.html'>Support Tickets</a>" +
                        "</div>" +
                        "</li>" +
                        "<li class='nav-item mr-sm-2'><a class='nav-link' @click='logout'>Logout</a></li>" +
                        "</ul>" +
                        "</div>" +
                        "</nav>";
                } else {
                    var objetivo = document.getElementById('navbar');
                    objetivo.innerHTML += "<nav class='navbar navbar-expand-lg navbar-light bg-light'>" +
                        "<a class='navbar-brand' href='#' id='name'>Welcome </a>" +
                        "<button class='navbar-toggler' type='button' data-toggle='collapse' data-target='#navbarNavDropdown'" +
                        "aria-controls='navbarNavDropdown' aria-expanded='false' aria-label='Toggle navigation'>" +
                        "<span class='navbar-toggler-icon'></span>" +
                        "</button>" +
                        "<div class='collapse navbar-collapse' id='navbarNavDropdown'>" +
                        "<ul class='navbar-nav ml-auto'>" +
                        "<li class='nav-item'>" +
                        "<a class='nav-link' href='./client.html'>Manage Clients</a> </li>" +
                        "<li class='nav-item'><a class='nav-link' href='./contacts.html'>Manage Contacts</a></li>" +
                        "<li class='nav-item'><a class='nav-link' href='./meetings.html'>Manage Meetings</a></li>" +
                        "<li class='nav-item mr-sm-2'><a class='nav-link' href='./support.html'>Support tickets</a></li>" +
                        "<li class='nav-item dropdown'>" +
                        "<a class='nav-link dropdown-toggle' href='' id='navbarDropdown' role='button' data-toggle='dropdown' aria-haspopup='true' aria-expanded='false'> " +
                        "Reports</a>" +
                        "<div class='dropdown-menu' aria-labelledby='navbarDropdown'>" +
                        "<a class='dropdown-item' href='./graphql/contactGraph.html'>Contacts</a>" +
                        "<a class='dropdown-item' href='./graphql/meetingGraph.html'>Meetings</a>" +
                        "<a class='dropdown-item' href='./graphql/supportGraph.html'>Support Tickets</a>" +
                        "</div>" +
                        "</li>" +
                        "<li class='nav-item mr-sm-2'><a class='nav-link' @click='logout'>Logout</a></li>" +
                        "</ul>" +
                        "</div>" +
                        "</nav>";
                }
            },
        },
    });
</script>

</html>