<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Meetings</title>
    <!-- CSS only -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
        integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">

    <!-- JS, Popper.js, and jQuery -->
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
        integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous">
    </script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js"
        integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous">
    </script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"
        integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV" crossorigin="anonymous">
    </script>
    <style>
        #form {
            padding-top: 10px;
            padding: -10%;
            border-style: groove;
            margin-right: 10%;
            min-height: 225px;
            max-height: 225px;
        }

        #container-table {
            margin-left: -115px;
            min-width: 150px;
            min-height: 225px;
            max-height: 225px;
            border-style: groove;
            overflow: hidden;
        }

        #isVirtual {
            margin-left: 1%;
        }

        .my-custom-scrollbar {
            position: relative;
            height: 200px;
            overflow: auto;
        }

        .table-wrapper-scroll-y {
            display: block;
        }

        #list {
            max-width: 28%;
            margin-left: -91px;
        }

        .label {
            display: block;
            font: 1rem 'Fira Sans', sans-serif;
        }

        .input,
        .label {
            margin: .4rem 0;
        }

        #save {
            margin-left: 105%;
            margin-top: 40%;
            width: 40%;
        }

        #userTable {
            width: 150%;
        }
    </style>
</head>

<body>
    <div id="app">
        <div id="navbar">

        </div>
        <br>
        <h3 class="text-center">Meetings List</h3>
        <br>
        <div class="container" id="container">
            <div class="row">
                <div class="col-sm-10">
                    <div id="form">
                        <form class="form">
                            <div class="row">
                                <div class="col-sm-3">
                                    <div class="form-group mx-sm-1">
                                        <label for="title" class="sr-only">Title</label>
                                        <input type="text" class="form-control" v-model="tempMeeting.title"
                                            placeholder="Title" required>
                                    </div>
                                </div>

                                <div class="col-sm-3">
                                    <div class="form-group mx-sm-1">
                                        <input type="date" id="start" name="trip-start" value="2018-07-22"
                                            min="2018-01-01" max="2029-12-31" v-model="tempMeeting.date"
                                            class="form-control">
                                    </div>
                                </div>

                                <div class="col-sm-3">
                                    <div class="form-group mx-sm-1 ">
                                        <select v-model="tempMeeting.client" class="form-control">
                                            <option disabled value="">Choose the client</option>
                                            <option v-for="(client, index) in clients" :key="index">
                                                {{ client.name}}
                                            </option>
                                        </select>
                                    </div>
                                </div>
                                <div class="col-sm-3">
                                    <div class="form-group mx-sm-1">
                                        <input class="form-control" type="time" id="appt" name="appt" required
                                            v-model="tempMeeting.time">
                                    </div>
                                </div>

                            </div>
                            <div class="row">
                                <div class="col-sm-4" id="isVirtual">
                                    <div class="form-group form-check">
                                        <input type="checkbox" class="form-check-input" id="checkbox"
                                            v-model="tempMeeting.isVirtual">
                                        <label for="checkbox" class="form-check-label">is Virtual</label>
                                    </div>
                                </div>

                                <div class="col-sm-4" id="list">
                                    <div class="form-group mx-sm-3 mb-2">
                                        <select v-model="tempMeeting.users" class="form-control" multiple required>
                                            <option disabled value="">Choose the users</option>
                                            <option v-for="(user, index) in users" :key="index">
                                                {{ user.name}} {{user.lastname}}
                                            </option>
                                        </select>
                                    </div>
                                </div>
                                <div class="col-sm-4">
                                    <button class="btn btn-primary mb-2" id="save" @click="save">Save</button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
                <div class="col-sm-2">
                    <div id="container-table">
                        <div class="form-group mx-sm-3 mb-2 table-wrapper-scroll-y my-custom-scrollbar">
                            <table class="table table-striped table-hover table-sm text-center mw-100" data-spy="scroll"
                                id="userTable">
                                <thead class="table-info">
                                    <tr>
                                        <th scope="col">User</th>
                                        <th scope="col">Action</th>
                                    </tr>
                                </thead>
                                <tr v-for="(user, index) in tempMeeting.users" :key="index">
                                    <td>{{user}}</td>
                                    <td>
                                        <div class="field">
                                            <p class="control">
                                                <button class="btn btn-danger" @click="quitar(index)">
                                                    <svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-x"
                                                        fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                                                        <path fill-rule="evenodd"
                                                            d="M11.854 4.146a.5.5 0 0 1 0 .708l-7 7a.5.5 0 0 1-.708-.708l7-7a.5.5 0 0 1 .708 0z" />
                                                        <path fill-rule="evenodd"
                                                            d="M4.146 4.146a.5.5 0 0 0 0 .708l7 7a.5.5 0 0 0 .708-.708l-7-7a.5.5 0 0 0-.708 0z" />
                                                    </svg>
                                                </button>
                                            </p>
                                        </div>
                                    </td>
                                </tr>
                            </table>
                        </div>
                    </div>
                </div>
            </div>

            <br>
            <table class="table table-striped table-hover table-sm text-center">
                <thead class="table-info">
                    <tr>
                        <th scope="col">Title</th>
                        <th scope="col">Date</th>
                        <th scope="col">Time</th>
                        <th scope="col">User</th>
                        <th scope="col">Is virtual</th>
                        <th scope="col">Client</th>
                        <th scope="col">Actions</th>
                    </tr>
                </thead>
                <tr v-for="(meeting, index) in meetings" :key="index">
                    <td>{{meeting.title}}</td>
                    <td>{{meeting.date}}</td>
                    <td>{{meeting.time}}</td>
                    <td>
                        <div class="dropdown">
                            <button class="btn btn-primary dropdown-toggle" id="menu1" type="button"
                                data-toggle="dropdown">Users</button>
                            <ul class="dropdown-menu" role="menu" aria-labelledby="menu1">
                                <li role="presentation"><a v-for="user in meeting.users">
                                        {{user}} <br>
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </td>
                    <td>{{meeting.isVirtual}}</td>
                    <td>{{meeting.client}}</td>
                    <td>
                        <div class="field">
                            <p class="control">
                                <button class="btn btn-warning" @click="selectMeeting(index)">
                                    Edit
                                </button>
                                <button class="btn btn-danger" @click="deleteMeeting(index)">
                                    Delete
                                </button>
                            </p>
                        </div>
                    </td>
                </tr>
            </table>
        </div>
    </div>
</body>

<script src="JavaScript\axios.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
<script src="JavaScript\credenciales.js"></script>
<script>
    var app = new Vue({
        el: "#app",
        data: {
            clients: [],
            client: {},
            users: [],
            user: {},
            meetings: [],
            meeting: {},
            tempMeeting: {
                title: "",
                date: "",
                time: "",
                users: [],
                isVirtual: "",
                client: "",
                index: null,
            },
            userLogged: "",
            rol: ""
        },
        created() {
            this.getUsers();
            this.getClients();
            this.getMeeting();
            tokenData = JSON.parse(localStorage.getItem("tokenData"));
            this.validateRol();
            this.userLogged = localStorage.getItem("user");
            console.log(this.token);

        },
        methods: {
            getClients() {
                const TOKEN = localStorage.getItem("token")
                axios({
                        method: "get",
                        url: "http://localhost:3000/api/clients",
                        headers: {
                            'Content-Type': 'application/json',
                            'Authorization': 'Bearer ' + TOKEN
                        }
                    })
                    .then((response) => {
                        // JSON responses are automatically parsed.
                        this.clients = response.data;

                    })
                    .catch((e) => {
                        // this.errors.push(e);
                        console.log(e);
                    })
                    .finally(() => {});
            },
            //Método para obtener los servicios.
            getMeeting() {
                const TOKEN = localStorage.getItem("token")
                axios({
                        method: "get",
                        url: "http://localhost:3000/api/meetings",
                        headers: {
                            'Content-Type': 'application/json',
                            'Authorization': 'Bearer ' + TOKEN
                        }
                    })
                    .then((response) => {
                        // JSON responses are automatically parsed.
                        this.meetings = response.data;
                        var objetivo = document.getElementById('name');
                        objetivo.innerHTML += this.userLogged;
                        console.log(this.meetings);
                    })
                    .catch((e) => {
                        // this.errors.push(e);
                        console.log(e);
                    })
                    .finally(() => {});
            },

            getUsers() {
                const TOKEN = localStorage.getItem("token")
                axios({
                        method: "get",
                        url: "http://localhost:3000/api/users",
                        headers: {
                            'Content-Type': 'application/json',
                            'Authorization': 'Bearer ' + TOKEN
                        }
                    })
                    .then((response) => {
                        // JSON responses are automatically parsed.
                        this.users = response.data;
                    })
                    .catch((e) => {
                        // this.errors.push(e);
                        console.log(e);
                    })
                    .finally(() => {});
            },

            createMeeting() {
                const TOKEN = localStorage.getItem("token")
                axios({
                        method: "post",
                        url: "http://localhost:3000/api/meetings",
                        headers: {
                            'Content-Type': 'application/json',
                            'Authorization': 'Bearer ' + TOKEN
                        },
                        data: {
                            title: this.tempMeeting.title,
                            date: this.tempMeeting.date,
                            time: this.tempMeeting.time,
                            users: this.tempMeeting.users,
                            isVirtual: this.tempMeeting.isVirtual,
                            client: this.tempMeeting.client
                        }
                    })
                    .then((response) => {
                        // JSON responses are automatically parsed.
                        this.meetings.push(response.data);
                        this.tempMeeting.title = "";
                        this.tempMeeting.date = "";
                        this.tempMeeting.time = "";
                        this.tempMeeting.users = "";
                        this.tempMeeting.isVirtual = "";
                        this.tempMeeting.client = "";
                    })
                    .catch((e) => {
                        // this.errors.push(e);
                        console.log(e);
                    })
                    .finally(() => {});
            },

            editMeeting(index) {
                const TOKEN = localStorage.getItem("token")
                axios({
                        method: "put",
                        url: `http://localhost:3000/api/meetings?id=${this.meetings[index]._id}`,
                        headers: {
                            'Content-Type': 'application/json',
                            'Authorization': 'Bearer ' + TOKEN
                        },
                        data: {
                            title: this.tempMeeting.title,
                            date: this.tempMeeting.date,
                            date: this.tempMeeting.date,
                            users: this.tempMeeting.users,
                            isVirtual: this.tempMeeting.isVirtual,
                            client: this.tempMeeting.client
                        },
                    })
                    .then((response) => {
                        this.meetings.splice(index, 1, response
                            .data
                        ); //Reemplazar con el response.data el valor en la posicion index de la lista
                        this.tempMeeting.title = "";
                        this.tempMeeting.date = "";
                        this.tempMeeting.time = "";
                        this.tempMeeting.users = "";
                        this.tempMeeting.isVirtual = "";
                        this.tempMeeting.client = "";
                    })
                    .catch((e) => {
                        // this.errors.push(e);
                        console.log(e);
                    })
                    .finally(() => {});
            },

            /*Método que valida si el campo no está vacío, y además verifica si hay un index seleccionado, si el index es diferente de null
            debe usar el método de editar y si no debe usar el método de agregar.*/
            save() {
                if (
                    !(
                        this.tempMeeting.title == "" ||
                        this.tempMeeting.title == null ||
                        this.tempMeeting.date == "" ||
                        this.tempMeeting.date == null ||
                        this.tempMeeting.time == "" ||
                        this.tempMeeting.time == null ||
                        this.tempMeeting.users == "" ||
                        this.tempMeeting.users == null ||
                        this.tempMeeting.isVirtual == "" ||
                        this.tempMeeting.isVirtual == null ||
                        this.tempMeeting.client == "" ||
                        this.tempMeeting.client == null
                    )
                ) {
                    if (this.tempMeeting.index != null) {
                        console.log("edit");
                        this.editMeeting(this.tempMeeting.index);
                        this.tempMeeting.index = null;
                    } else {
                        console.log("add");
                        this.createMeeting();
                        this.tempMeeting.index = null;
                    }
                }
            },

            //Método para seleccionar un canal.
            selectMeeting(index) {
                this.tempMeeting.title = this.meetings[index].title;
                this.tempMeeting.date = this.meetings[index].date;
                this.tempMeeting.time = this.meetings[index].time;
                this.tempMeeting.users = this.meetings[index].users;
                this.tempMeeting.isVirtual = this.meetings[index].isVirtual;
                this.tempMeeting.client = this.meetings[index].client;
                this.tempMeeting.index = index;
            },

            //Método para eliminar un canal.
            deleteMeeting(index) {
                const TOKEN = localStorage.getItem("token")
                axios({
                        method: "delete",
                        url: `http://localhost:3000/api/meetings?id=${this.meetings[index]._id}`,
                        headers: {
                            'Content-Type': 'application/json',
                            'Authorization': 'Bearer ' + TOKEN
                        }
                    })
                    .then((response) => {
                        // JSON responses are automatically parsed.
                        this.meetings.splice(index, 1);
                    })
                    .catch((e) => {
                        // this.errors.push(e);
                        console.log(e);
                    })
                    .finally(() => {});
            },

            logout() {
                const TOKEN = localStorage.getItem("token")
                axios({
                        method: "delete",
                        url: `http://localhost:3000/api/session`,
                        headers: {
                            'Content-Type': 'application/json',
                            'Authorization': 'Bearer ' + TOKEN
                        }
                    })
                    .then((response) => {
                        localStorage.removeItem("token");
                        localStorage.removeItem("tokenData");
                        window.location.replace("./login.html");
                    })
                    .catch((e) => {
                        // this.errors.push(e);
                        console.log(e);
                    })
                    .finally(() => {});
            },

            quitar(index) {
                this.tempMeeting.users[index] = null;
            },

            validateRol() {
                if (tokenData.rol == "Administrador") {
                    var objetivo = document.getElementById('navbar');
                    objetivo.innerHTML += "<nav class='navbar navbar-expand-lg navbar-light bg-light'>" +
                        "<a class='navbar-brand' href='#' id='name'>Welcome </a>" +
                        "<button class='navbar-toggler' type='button' data-toggle='collapse' data-target='#navbarNavDropdown'" +
                        "aria-controls='navbarNavDropdown' aria-expanded='false' aria-label='Toggle navigation'>" +
                        "<span class='navbar-toggler-icon'></span>" +
                        "</button>" +
                        "<div class='collapse navbar-collapse' id='navbarNavDropdown'>" +
                        "<ul class='navbar-nav ml-auto'>" +
                        "<li class='nav-item'>" +
                        "<a class='nav-link' href='./users.html'>Manage Users</span></a></li>" +
                        " <li class='nav-item'>" +
                        "<a class='nav-link' href='./client.html'>Manage Clients</a> </li>" +
                        "<li class='nav-item'><a class='nav-link' href='./contacts.html'>Manage Contacts</a></li>" +
                        "<li class='nav-item'><a class='nav-link' href='./meetings.html'>Manage Meetings</a></li>" +
                        "<li class='nav-item mr-sm-2'><a class='nav-link' href='./support.html'>Support tickets</a></li>" +
                        "<li class='nav-item dropdown'>" +
                        "<a class='nav-link dropdown-toggle' href='' id='navbarDropdown' role='button' data-toggle='dropdown' aria-haspopup='true' aria-expanded='false'> " +
                        "Reports</a>" +
                        "<div class='dropdown-menu' aria-labelledby='navbarDropdown'>" +
                        "<a class='dropdown-item' href='./graphql/contactGraph.html'>Contacts</a>" +
                        "<a class='dropdown-item' href='./graphql/meetingGraph.html'>Meetings</a>" +
                        "<a class='dropdown-item' href='./graphql/supportGraph.html'>Support Tickets</a>" +
                        "</div>" +
                        "</li>" +
                        "<li class='nav-item mr-sm-2'><a class='nav-link' @click='logout'>Logout</a></li>" +
                        "</ul>" +
                        "</div>" +
                        "</nav>";
                } else {
                    var objetivo = document.getElementById('navbar');
                    objetivo.innerHTML += "<nav class='navbar navbar-expand-lg navbar-light bg-light'>" +
                        "<a class='navbar-brand' href='#' id='name'>Welcome </a>" +
                        "<button class='navbar-toggler' type='button' data-toggle='collapse' data-target='#navbarNavDropdown'" +
                        "aria-controls='navbarNavDropdown' aria-expanded='false' aria-label='Toggle navigation'>" +
                        "<span class='navbar-toggler-icon'></span>" +
                        "</button>" +
                        "<div class='collapse navbar-collapse' id='navbarNavDropdown'>" +
                        "<ul class='navbar-nav ml-auto'>" +
                        "<li class='nav-item'>" +
                        "<a class='nav-link' href='./client.html'>Manage Clients</a> </li>" +
                        "<li class='nav-item'><a class='nav-link' href='./contacts.html'>Manage Contacts</a></li>" +
                        "<li class='nav-item'><a class='nav-link' href='./meetings.html'>Manage Meetings</a></li>" +
                        "<li class='nav-item mr-sm-2'><a class='nav-link' href='./support.html'>Support tickets</a></li>" +
                        "<li class='nav-item dropdown'>" +
                        "<a class='nav-link dropdown-toggle' href='' id='navbarDropdown' role='button' data-toggle='dropdown' aria-haspopup='true' aria-expanded='false'> " +
                        "Reports</a>" +
                        "<div class='dropdown-menu' aria-labelledby='navbarDropdown'>" +
                        "<a class='dropdown-item' href='./graphql/contactGraph.html'>Contacts</a>" +
                        "<a class='dropdown-item' href='./graphql/meetingGraph.html'>Meetings</a>" +
                        "<a class='dropdown-item' href='./graphql/supportGraph.html'>Support Tickets</a>" +
                        "</div>" +
                        "</li>" +
                        "<li class='nav-item mr-sm-2'><a class='nav-link' @click='logout'>Logout</a></li>" +
                        "</ul>" +
                        "</div>" +
                        "</nav>";
                }
            },
        },
    });
</script>

</html>