<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Management</title>
    <!-- CSS only -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
        integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

    <!-- JS, Popper.js, and jQuery -->
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
        integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous">
    </script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js"
        integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous">
    </script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"
        integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV" crossorigin="anonymous">
    </script>
    <style>
        #form {
            margin-right: 3px;
            margin-left: 3px;
            border-style: groove;
            padding-top: 1%;
            max-height: 100%;
        }

        #save {
            width: 120px;
            margin-left: 63%;
            margin-top: 30%;
        }

        #textarea {
            width: 100%;
        }
    </style>
</head>

<body>
    <div id="app">
        <div id="navbar">

        </div>
        <br>
        <h3 class="text-center">Support Tickets</h3>
        <br>
        <div class="container" id="container">
            <div id="form">
                <div class="row">
                    <div class="col">
                        <div class="form-group mx-sm-2">
                            <label for="title" class="sr-only">Problem Title</label>
                            <input type="text" class="form-control" v-model="tempSupport.problemTitle"
                                placeholder="Problem title" id="inputTitle">
                        </div>
                    </div>

                    <div class="col">
                        <div class="form-group mx-sm-2">
                            <label for="name" class="sr-only">Name</label>
                            <input type="text" class="form-control" v-model="tempSupport.name" placeholder="Name"
                                id="input">
                        </div>
                    </div>

                    <div class="col">
                        <div class="form-group mx-sm-2 ">
                            <select v-model="tempSupport.client" class="form-control" id="select">
                                <option disabled value="">Choose the client</option>
                                <option v-for="(client, index) in clients" :key="index">
                                    {{ client.name}}
                                </option>
                            </select>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col">
                        <div class="form-group mx-sm-2">
                            <label for="detail" class="sr-only">Problem Detail</label>
                            <textarea name="" id="textarea" rows="4" class="form-control"
                                v-model="tempSupport.problemDetail" placeholder="Insert de problem detail"></textarea>
                        </div>
                    </div>
                    <div class="col">
                        <div class="form-group mx-sm-2">
                            <input type="radio" id="open" value="Open" v-model="tempSupport.status">
                            <label for="open">Open</label>
                            <br>
                            <input type="radio" id="inProcess" value="In process" v-model="tempSupport.status">
                            <label for="inProcess">In process</label>
                            <br>
                            <input type="radio" id="waiting" value="Waiting" v-model="tempSupport.status">
                            <label for="waiting">Waiting</label>
                            <br>
                            <input type="radio" id="finalized" value="Finalized" v-model="tempSupport.status">
                            <label for="finalized">Finalized</label>
                            <br>
                        </div>
                    </div>

                    <div class="col">
                        <div class="form-group mx-sm-2">
                            <button class="btn btn-primary responsive" id="save" @click="save">Save</button>
                        </div>
                    </div>
                </div>
            </div>

            <br>
            <table class="table table-striped table-hover table-sm text-center">
                <thead class="table-info">
                    <tr>
                        <th scope="col">Title</th>
                        <th scope="col">Detail</th>
                        <th scope="col">Name</th>
                        <th scope="col">Client</th>
                        <th scope="col">Status</th>
                        <th scope="col">Actions</th>
                    </tr>
                </thead>
                <tr v-for="(support, index) in supports" :key="index">
                    <td>{{support.problemTitle}}</td>
                    <td>{{support.problemDetail}}</td>
                    <td>{{support.name}}</td>
                    <td>{{support.client}}</td>
                    <td>{{support.status}}</td>
                    <td>
                        <div class="field">
                            <p class="control">
                                <button class="btn btn-warning" @click="selectSupport(index)">
                                    Edit
                                </button>
                                <button class="btn btn-danger" @click="deleteSupport(index)">
                                    Delete
                                </button>
                            </p>
                        </div>
                    </td>
                </tr>
            </table>
        </div>
    </div>
</body>

<script src="JavaScript\axios.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
<script src="JavaScript\credenciales.js"></script>
<script>
    var app = new Vue({
        el: "#app",
        data: {
            clients: [],
            client: {},
            supports: [],
            support: {},
            tempSupport: {
                problemTitle: "",
                problemDetail: "",
                name: "",
                client: "",
                status: "",
                index: null,
            },
            userLogged: "",
            token: "",
            rol: ""
        },
        created() {
            this.getSupports();
            this.getClients();
            this.token = localStorage.getItem("token");
            tokenData = JSON.parse(localStorage.getItem("tokenData"));
            this.validateRol();
            this.userLogged = localStorage.getItem("user");

        },
        methods: {
            getClients() {
                const TOKEN = localStorage.getItem("token")
                axios({
                        method: "get",
                        url: "http://localhost:3000/api/clients",
                        headers: {
                            'Content-Type': 'application/json',
                            'Authorization': 'Bearer ' + TOKEN
                        }
                    })
                    .then((response) => {
                        // JSON responses are automatically parsed.
                        this.clients = response.data;

                    })
                    .catch((e) => {
                        // this.errors.push(e);
                        console.log(e);
                    })
                    .finally(() => {});
            },
            //Método para obtener los servicios.
            getSupports() {
                const TOKEN = localStorage.getItem("token")
                axios({
                        method: "get",
                        url: "http://localhost:3000/api/supports",
                        headers: {
                            'Content-Type': 'application/json',
                            'Authorization': 'Bearer ' + TOKEN
                        },
                    })
                    .then((response) => {
                        // JSON responses are automatically parsed.
                        this.supports = response.data;
                        var objetivo = document.getElementById('name');
                        objetivo.innerHTML += this.userLogged;
                    })
                    .catch((e) => {
                        // this.errors.push(e);
                        console.log(e);
                    })
                    .finally(() => {});
            },
            createSupport() {
                const TOKEN = localStorage.getItem("token")
                axios({
                        method: "post",
                        url: "http://localhost:3000/api/supports",
                        headers: {
                            'Content-Type': 'application/json',
                            'Authorization': 'Bearer ' + TOKEN
                        },
                        data: {
                            problemTitle: this.tempSupport.problemTitle,
                            problemDetail: this.tempSupport.problemDetail,
                            name: this.tempSupport.name,
                            client: this.tempSupport.client,
                            status: this.tempSupport.status
                        }
                    })
                    .then((response) => {
                        // JSON responses are automatically parsed.
                        this.supports.push(response.data);
                        this.tempSupport.name = "";
                        this.tempSupport.client = "";
                        this.tempSupport.problemDetail = "";
                        this.tempSupport.problemTitle = "";
                        this.tempSupport.status = "";
                    })
                    .catch((e) => {
                        // this.errors.push(e);
                        console.log(e);
                    })
                    .finally(() => {});
            },

            editSupport(index) {
                const TOKEN = localStorage.getItem("token")
                axios({
                        method: "put",
                        url: `http://localhost:3000/api/supports?id=${this.supports[index]._id}`,
                        headers: {
                            'Content-Type': 'application/json',
                            'Authorization': 'Bearer ' + TOKEN
                        },
                        data: {
                            problemTitle: this.tempSupport.problemTitle,
                            problemDetail: this.tempSupport.problemDetail,
                            name: this.tempSupport.name,
                            client: this.tempSupport.client,
                            status: this.tempSupport.status
                        },
                    })
                    .then((response) => {
                        this.supports.splice(index, 1, response
                            .data
                        ); //Reemplazar con el response.data el valor en la posicion index de la lista
                        this.tempSupport.name = "";
                        this.tempSupport.client = "";
                        this.tempSupport.problemDetail = "";
                        this.tempSupport.problemTitle = "";
                        this.tempSupport.status = "";
                    })
                    .catch((e) => {
                        // this.errors.push(e);
                        console.log(e);
                    })
                    .finally(() => {});
            },

            /*Método que valida si el campo no está vacío, y además verifica si hay un index seleccionado, si el index es diferente de null
            debe usar el método de editar y si no debe usar el método de agregar.*/
            save() {
                if (
                    !(
                        this.tempSupport.name == "" ||
                        this.tempSupport.name == null ||
                        this.tempSupport.client == "" ||
                        this.tempSupport.client == null ||
                        this.tempSupport.problemTitle == "" ||
                        this.tempSupport.problemTitle == null ||
                        this.tempSupport.problemDetail == "" ||
                        this.tempSupport.problemDetail == null ||
                        this.tempSupport.status == "" ||
                        this.tempSupport.status == null
                    )
                ) {
                    if (this.tempSupport.index != null) {
                        console.log("edit");
                        this.editSupport(this.tempSupport.index);
                        this.tempSupport.index = null;
                    } else {
                        console.log("add");
                        this.createSupport();
                        this.tempSupport.index = null;
                    }
                }
            },

            //Método para seleccionar un canal.
            selectSupport(index) {
                this.tempSupport.name = this.supports[index].name;
                this.tempSupport.client = this.supports[index].client;
                this.tempSupport.problemDetail = this.supports[index].problemDetail;
                this.tempSupport.problemTitle = this.supports[index].problemTitle;
                this.tempSupport.status = this.supports[index].status;
                this.tempSupport.index = index;
            },

            //Método para eliminar un canal.
            deleteSupport(index) {
                const TOKEN = localStorage.getItem("token")
                axios({
                        method: "delete",
                        url: `http://localhost:3000/api/supports?id=${this.supports[index]._id}`,
                        headers: {
                            'Content-Type': 'application/json',
                            'Authorization': 'Bearer ' + TOKEN
                        }
                    })
                    .then((response) => {
                        // JSON responses are automatically parsed.
                        this.supports.splice(index, 1);
                    })
                    .catch((e) => {
                        // this.errors.push(e);
                        console.log(e);
                    })
                    .finally(() => {});
            },

            logout() {
                const TOKEN = localStorage.getItem("token")
                axios({
                        method: "delete",
                        url: `http://localhost:3000/api/session`,
                        headers: {
                            'Content-Type': 'application/json',
                            'Authorization': 'Bearer ' + TOKEN
                        }
                    })
                    .then((response) => {
                        localStorage.removeItem("token");
                        localStorage.removeItem("tokenData");
                        window.location.replace("./login.html");
                    })
                    .catch((e) => {
                        // this.errors.push(e);
                        console.log(e);
                    })
                    .finally(() => {});
            },

            validateRol() {
                if (tokenData.rol == "Administrador") {
                    var objetivo = document.getElementById('navbar');
                    objetivo.innerHTML += "<nav class='navbar navbar-expand-lg navbar-light bg-light'>" +
                        "<a class='navbar-brand' href='#' id='name'>Welcome </a>" +
                        "<button class='navbar-toggler' type='button' data-toggle='collapse' data-target='#navbarNavDropdown'" +
                        "aria-controls='navbarNavDropdown' aria-expanded='false' aria-label='Toggle navigation'>" +
                        "<span class='navbar-toggler-icon'></span>" +
                        "</button>" +
                        "<div class='collapse navbar-collapse' id='navbarNavDropdown'>" +
                        "<ul class='navbar-nav ml-auto'>" +
                        "<li class='nav-item'>" +
                        "<a class='nav-link' href='./users.html'>Manage Users</span></a></li>" +
                        " <li class='nav-item'>" +
                        "<a class='nav-link' href='./client.html'>Manage Clients</a> </li>" +
                        "<li class='nav-item'><a class='nav-link' href='./contacts.html'>Manage Contacts</a></li>" +
                        "<li class='nav-item'><a class='nav-link' href='./meetings.html'>Manage Meetings</a></li>" +
                        "<li class='nav-item mr-sm-2'><a class='nav-link' href='./support.html'>Support tickets</a></li>" +
                        "<li class='nav-item dropdown'>" +
                        "<a class='nav-link dropdown-toggle' href='' id='navbarDropdown' role='button' data-toggle='dropdown' aria-haspopup='true' aria-expanded='false'> " +
                        "Reports</a>" +
                        "<div class='dropdown-menu' aria-labelledby='navbarDropdown'>" +
                        "<a class='dropdown-item' href='./graphql/contactGraph.html'>Contacts</a>" +
                        "<a class='dropdown-item' href='./graphql/meetingGraph.html'>Meetings</a>" +
                        "<a class='dropdown-item' href='./graphql/supportGraph.html'>Support Tickets</a>" +
                        "</div>" +
                        "</li>" +
                        "<li class='nav-item mr-sm-2'><a class='nav-link' @click='logout'>Logout</a></li>" +
                        "</ul>" +
                        "</div>" +
                        "</nav>";
                } else {
                    var objetivo = document.getElementById('navbar');
                    objetivo.innerHTML += "<nav class='navbar navbar-expand-lg navbar-light bg-light'>" +
                        "<a class='navbar-brand' href='#' id='name'>Welcome </a>" +
                        "<button class='navbar-toggler' type='button' data-toggle='collapse' data-target='#navbarNavDropdown'" +
                        "aria-controls='navbarNavDropdown' aria-expanded='false' aria-label='Toggle navigation'>" +
                        "<span class='navbar-toggler-icon'></span>" +
                        "</button>" +
                        "<div class='collapse navbar-collapse' id='navbarNavDropdown'>" +
                        "<ul class='navbar-nav ml-auto'>" +
                        "<li class='nav-item'>" +
                        "<a class='nav-link' href='./client.html'>Manage Clients</a> </li>" +
                        "<li class='nav-item'><a class='nav-link' href='./contacts.html'>Manage Contacts</a></li>" +
                        "<li class='nav-item'><a class='nav-link' href='./meetings.html'>Manage Meetings</a></li>" +
                        "<li class='nav-item mr-sm-2'><a class='nav-link' href='./support.html'>Support tickets</a></li>" +
                        "<li class='nav-item dropdown'>" +
                        "<a class='nav-link dropdown-toggle' href='' id='navbarDropdown' role='button' data-toggle='dropdown' aria-haspopup='true' aria-expanded='false'> " +
                        "Reports</a>" +
                        "<div class='dropdown-menu' aria-labelledby='navbarDropdown'>" +
                        "<a class='dropdown-item' href='./graphql/contactGraph.html'>Contacts</a>" +
                        "<a class='dropdown-item' href='./graphql/meetingGraph.html'>Meetings</a>" +
                        "<a class='dropdown-item' href='./graphql/supportGraph.html'>Support Tickets</a>" +
                        "</div>" +
                        "</li>" +
                        "<li class='nav-item mr-sm-2'><a class='nav-link' @click='logout'>Logout</a></li>" +
                        "</ul>" +
                        "</div>" +
                        "</nav>";
                }
            },
        },
    });
</script>

</html>