<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Management</title>
  <!-- CSS only -->
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
    integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

  <!-- JS, Popper.js, and jQuery -->
  <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
    integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous">
  </script>
  <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js"
    integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous">
  </script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"
    integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV" crossorigin="anonymous">
  </script>
  <style>
    #eye {
      margin-left: -15%;
    }

    #form {
      margin-right: 3px;
      margin-left: 3px;
      border-style: groove;
      padding-top: 1%;
    }

    #input {
      width: 130%;
    }

    #save {
      margin-left: 10%;
      width: 120px;
    }
  </style>
</head>

<body>
  <div id="app">
    <div id="navbar">

    </div>
    <br>
    <h3 class="text-center">User List</h3>
    <br>
    <div class="container" id="container">
      <div class="row" id="form">
        <div class="col-2">
          <div class="form-group mx-sm-2">
            <label for="name" class="sr-only">Name</label>
            <input type="text" class="form-control" v-model="tempUser.name" placeholder="Name" id="input">
          </div>
        </div>

        <div class="col-2">
          <div class="form-group mx-sm-2">
            <label for="lastname" class="sr-only">Lastname</label>
            <input type="text" class="form-control" v-model="tempUser.lastname" placeholder="Lastname" id="input">
          </div>
        </div>

        <div class="col-2">
          <div class="form-group mx-sm-2">
            <label for="username" class="sr-only">Username</label>
            <input type="text" class="form-control" v-model="tempUser.username" placeholder="Username" id="input">
          </div>
        </div>

        <div class="col-2">
          <div class="form-group mx-sm-2">
            <label for="Password" class="sr-only">Password</label>
            <input type="password" class="form-control" v-model="tempUser.password" placeholder="Password" id="pass"
              id="input">
          </div>
        </div>

        <div class="col-2">
          <button class="btn btn-primary" v-on:click="show" id="eye"> <i class="fa fa-eye"></i></button>
        </div>

        <div class="col-2">
          <button class="btn btn-primary" id="save" @click="save">Save</button>
        </div>
      </div>

      <br>
      <table class="table table-striped table-hover table-sm text-center">
        <thead class="table-info">
          <tr>
            <th scope="col">Name</th>
            <th scope="col">Lastname</th>
            <th scope="col">Username</th>
            <th scope="col">Password Encrypted</th>
            <th scope="col">Actions</th>
          </tr>
        </thead>
        <tr v-for="(user, index) in users" :key="index">
          <td>{{user.name}}</td>
          <td>{{user.lastname}}</td>
          <td>{{user.username}}</td>
          <td>{{user.password}}</td>
          <td>
            <div class="field">
              <p class="control">
                <button class="btn btn-warning" @click="selectUser(index)">
                  Edit
                </button>
                <button class="btn btn-danger" @click="deleteUser(index)">
                  Delete
                </button>
              </p>
            </div>
          </td>
        </tr>
      </table>
    </div>
  </div>
</body>

<script src="JavaScript\axios.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
<script src="JavaScript\credenciales.js"></script>
<script>
  var app = new Vue({
    el: "#app",
    data: {
      users: [],
      user: {},
      tempUser: {
        name: "",
        lastname: "",
        username: "",
        password: "",
        index: null,
      },
      userLogged: "",
      token: "",
      rol: ""
    },
    created() {
      this.getUsers();
      this.token = localStorage.getItem("token");
      tokenData = JSON.parse(localStorage.getItem("tokenData"));
      this.validateRol();
      this.userLogged = localStorage.getItem("user");

    },
    methods: {
      //Método para obtener los servicios.
      getUsers() {
        const TOKEN = localStorage.getItem("token")
        axios({
            method: "get",
            url: "http://localhost:3000/api/users",
            headers: {
              'Content-Type': 'application/json',
              'Authorization': 'Bearer ' + TOKEN
            },
          })
          .then((response) => {
            // JSON responses are automatically parsed.
            this.users = response.data;
            var objetivo = document.getElementById('name');
            objetivo.innerHTML += this.userLogged;
          })
          .catch((e) => {
            // this.errors.push(e);
            console.log(e);
          })
          .finally(() => {});
      },
      createUser() {
        const TOKEN = localStorage.getItem("token")
        axios({
            method: "post",
            url: "http://localhost:3000/api/users",
            headers: {
              'Content-Type': 'application/json',
              'Authorization': 'Bearer ' + TOKEN
            },
            data: {
              name: this.tempUser.name,
              lastname: this.tempUser.lastname,
              username: this.tempUser.username,
              password: this.tempUser.password
            }
          })
          .then((response) => {
            // JSON responses are automatically parsed.
            this.users.push(response.data);
            this.tempUser.name = "";
            this.tempUser.lastname = "";
            this.tempUser.username = "";
            this.tempUser.password = "";
          })
          .catch((e) => {
            // this.errors.push(e);
            console.log(e);
          })
          .finally(() => {});
      },

      editUser(index) {
        const TOKEN = localStorage.getItem("token")
        axios({
            method: "put",
            url: `http://localhost:3000/api/users?id=${this.users[index]._id}`,
            headers: {
              'Content-Type': 'application/json',
              'Authorization': 'Bearer ' + TOKEN
            },
            data: {
              name: this.tempUser.name,
              lastname: this.tempUser.lastname,
              username: this.tempUser.username,
              password: this.tempUser.password
            },
          })
          .then((response) => {
            this.users.splice(index, 1, response
              .data); //Reemplazar con el response.data el valor en la posicion index de la lista
            this.tempUser.name = "";
            this.tempUser.lastname = "";
            this.tempUser.username = "";
            this.tempUser.password = "";
          })
          .catch((e) => {
            // this.errors.push(e);
            console.log(e);
          })
          .finally(() => {});
      },

      /*Método que valida si el campo no está vacío, y además verifica si hay un index seleccionado, si el index es diferente de null
      debe usar el método de editar y si no debe usar el método de agregar.*/
      save() {
        if (
          !(
            this.tempUser.name == "" ||
            this.tempUser.name == null ||
            this.tempUser.lastname == "" ||
            this.tempUser.lastname == null ||
            this.tempUser.username == "" ||
            this.tempUser.username == null ||
            this.tempUser.password == "" ||
            this.tempUser.password == null
          )
        ) {
          if (this.tempUser.index != null) {
            console.log("edit");
            this.editUser(this.tempUser.index);
            this.tempUser.index = null;
          } else {
            console.log("add");
            this.createUser();
            this.tempUser.index = null;
          }
        }
      },

      //Método para seleccionar un canal.
      selectUser(index) {
        this.tempUser.name = this.users[index].name;
        this.tempUser.lastname = this.users[index].lastname;
        this.tempUser.username = this.users[index].username;
        this.tempUser.password = this.users[index].password;
        this.tempUser.index = index;
      },

      //Método para eliminar un canal.
      deleteUser(index) {
        const TOKEN = localStorage.getItem("token")
        axios({
            method: "delete",
            url: `http://localhost:3000/api/users?id=${this.users[index]._id}`,
            headers: {
              'Content-Type': 'application/json',
              'Authorization': 'Bearer ' + TOKEN
            }
          })
          .then((response) => {
            // JSON responses are automatically parsed.
            this.users.splice(index, 1);
          })
          .catch((e) => {
            // this.errors.push(e);
            console.log(e);
          })
          .finally(() => {});
      },

      logout() {
        const TOKEN = localStorage.getItem("token")
        axios({
            method: "delete",
            url: `http://localhost:3000/api/session`,
            headers: {
              'Content-Type': 'application/json',
              'Authorization': 'Bearer ' + TOKEN
            }
          })
          .then((response) => {
            localStorage.removeItem("token");
            localStorage.removeItem("tokenData");
            window.location.replace("./login.html");
          })
          .catch((e) => {
            // this.errors.push(e);
            console.log(e);
          })
          .finally(() => {});
      },

      show() {
        var a = document.getElementById("pass");
        var b = document.getElementById("eye");
        if (a.type == "password") {
          a.type = "text";
          b.innerHTML = " <i class='fa fa-eye'></i>";
        } else {
          a.type = "password";
          b.innerHTML = " <i class='fa fa-eye-slash'></i>";
        }
      },

      validateRol() {
        if (tokenData.rol == "Administrador") {
          var objetivo = document.getElementById('navbar');
          objetivo.innerHTML += "<nav class='navbar navbar-expand-lg navbar-light bg-light'>" +
            "<a class='navbar-brand' href='#' id='name'>Welcome </a>" +
            "<button class='navbar-toggler' type='button' data-toggle='collapse' data-target='#navbarNavDropdown'" +
            "aria-controls='navbarNavDropdown' aria-expanded='false' aria-label='Toggle navigation'>" +
            "<span class='navbar-toggler-icon'></span>" +
            "</button>" +
            "<div class='collapse navbar-collapse' id='navbarNavDropdown'>" +
            "<ul class='navbar-nav ml-auto'>" +
            "<li class='nav-item'>" +
            "<a class='nav-link' href='./users.html'>Manage Users</span></a></li>" +
            " <li class='nav-item'>" +
            "<a class='nav-link' href='./client.html'>Manage Clients</a> </li>" +
            "<li class='nav-item'><a class='nav-link' href='./contacts.html'>Manage Contacts</a></li>" +
            "<li class='nav-item'><a class='nav-link' href='./meetings.html'>Manage Meetings</a></li>" +
            "<li class='nav-item mr-sm-2'><a class='nav-link' href='./support.html'>Support tickets</a></li>" +
            "<li class='nav-item dropdown'>" +
            "<a class='nav-link dropdown-toggle' href='' id='navbarDropdown' role='button' data-toggle='dropdown' aria-haspopup='true' aria-expanded='false'> " +
            "Reports</a>" +
            "<div class='dropdown-menu' aria-labelledby='navbarDropdown'>" +
            "<a class='dropdown-item' href='./graphql/contactGraph.html'>Contacts</a>" +
            "<a class='dropdown-item' href='./graphql/meetingGraph.html'>Meetings</a>" +
            "<a class='dropdown-item' href='./graphql/supportGraph.html'>Support Tickets</a>" +
            "</div>" +
            "</li>" +
            "<li class='nav-item mr-sm-2'><a class='nav-link' @click='logout'>Logout</a></li>" +
            "</ul>" +
            "</div>" +
            "</nav>";
        } else {
          var objetivo = document.getElementById('navbar');
          objetivo.innerHTML += "<nav class='navbar navbar-expand-lg navbar-light bg-light'>" +
            "<a class='navbar-brand' href='#' id='name'>Welcome </a>" +
            "<button class='navbar-toggler' type='button' data-toggle='collapse' data-target='#navbarNavDropdown'" +
            "aria-controls='navbarNavDropdown' aria-expanded='false' aria-label='Toggle navigation'>" +
            "<span class='navbar-toggler-icon'></span>" +
            "</button>" +
            "<div class='collapse navbar-collapse' id='navbarNavDropdown'>" +
            "<ul class='navbar-nav ml-auto'>" +
            "<li class='nav-item'>" +
            "<a class='nav-link' href='./client.html'>Manage Clients</a> </li>" +
            "<li class='nav-item'><a class='nav-link' href='./contacts.html'>Manage Contacts</a></li>" +
            "<li class='nav-item'><a class='nav-link' href='./meetings.html'>Manage Meetings</a></li>" +
            "<li class='nav-item mr-sm-2'><a class='nav-link' href='./support.html'>Support tickets</a></li>" +
            "<li class='nav-item dropdown'>" +
            "<a class='nav-link dropdown-toggle' href='' id='navbarDropdown' role='button' data-toggle='dropdown' aria-haspopup='true' aria-expanded='false'> " +
            "Reports</a>" +
            "<div class='dropdown-menu' aria-labelledby='navbarDropdown'>" +
            "<a class='dropdown-item' href='./graphql/contactGraph.html'>Contacts</a>" +
            "<a class='dropdown-item' href='./graphql/meetingGraph.html'>Meetings</a>" +
            "<a class='dropdown-item' href='./graphql/supportGraph.html'>Support Tickets</a>" +
            "</div>" +
            "</li>" +
            "<li class='nav-item mr-sm-2'><a class='nav-link' @click='logout'>Logout</a></li>" +
            "</ul>" +
            "</div>" +
            "</nav>";
        }
      },
    },
  });
</script>

</html>