<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Reports</title>
    <!-- CSS only -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
        integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

    <!-- JS, Popper.js, and jQuery -->
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
        integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous">
    </script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js"
        integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous">
    </script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"
        integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV" crossorigin="anonymous">
    </script>
</head>

<body>
    <div id="app">
        <div id="navbar">

        </div>
        <br>
        <div class="container">
            <div id="search">
                <h4 class="text-center">Select the fields you want to appear in the search</h4>
                <br>
                <div class="form-inline">
                    <div class="col-2">
                        <div class="form-check">
                            <input class="form-check-input" type="checkbox" value="problemTitle" id="problemTitle"
                                v-model="tempSupport.problemTitle">
                            <label class="form-check-label" for="problemTitle">
                                Problem Title
                            </label>
                        </div>
                    </div>

                    <div class="col-2">
                        <div class="form-check">
                            <input class="form-check-input" type="checkbox" checked value="problemDetail" id="problemDetail"
                                v-model="tempSupport.problemDetail">
                            <label class="form-check-label" for="problemDetail">
                                Problem Detail
                            </label>
                        </div>
                    </div>

                    <div class="col-2">
                        <div class="form-check">
                            <input class="form-check-input" type="checkbox" value="name" id="name"
                                v-model="tempSupport.name">
                            <label class="form-check-label" for="name">
                                Name
                            </label>
                        </div>
                    </div>

                    <div class="col-2">
                        <div class="form-check">
                            <input class="form-check-input" type="checkbox" value="client" id="client"
                                v-model="tempSupport.client">
                            <label class="form-check-label" for="client">
                                Client
                            </label>
                        </div>
                    </div>

                    <div class="col-2">
                        <div class="form-check">
                            <input class="form-check-input" type="checkbox" value="status" id="status"
                                v-model="tempSupport.status">
                            <label class="form-check-label" for="status">
                                Status
                            </label>
                        </div>
                    </div>

                    <button @click="getQuery">Buscar</button>
                </div>
            </div>
            <br>
            <br>
            <h3 class="text-center">Results</h3>
            <br>
            <div class="container" id="container">
                <table class="table table-striped table-hover table-sm text-center" id="table">
                    <thead class="table-info">
                        <tr>
                            <th scope="col">Problem Title</th>
                            <th scope="col">Problem Detail</th>
                            <th scope="col">Name</th>
                            <th scope="col">Client</th>
                            <th scope="col">Is virtual</th>
                        </tr>
                    </thead>
                    <tr v-for="(support, index) in supports" :key="index">
                        <td>{{support.problemTitle}}</td>
                        <td>{{support.problemDetail}}</td>
                        <td>{{support.name}}</td>
                        <td>{{support.client}}</td>
                        <td>{{support.isVirtual}}</td>
                    </tr>
                </table>
            </div>
        </div>
    </div>
</body>

<script src="../JavaScript\axios.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
<script>
    var app = new Vue({
        el: "#app",
        data: {
            supports: [],
            support: {},
            tempSupport: {
                problemTitle: "",
                problemDetail: "",
                name: "",
                isVirtual: "",
                client: "",
                index: null,
            },
            userLogged: "",
            token: "",
            rol: ""
        },
        created() {
            this.token = localStorage.getItem("token");
            tokenData = JSON.parse(localStorage.getItem("tokenData"));
            this.validateRol();
            this.userLogged = localStorage.getItem("user");

        },
        methods: {
            //Método para obtener los servicios.
            getQuery() {
                const TOKEN = localStorage.getItem("token");
                let query = `
                            {
                                getSupport{
                                          
                        `
                if (this.tempSupport.problemTitle) {
                    query += `problemTitle,`
                }

                if (this.tempSupport.problemDetail) {
                    query += `problemDetail,`
                }

                if (this.tempSupport.name) {
                    query += `name,`
                }

                if (this.tempSupport.isVirtual) {
                    query += `isVirtual,`
                }

                if (this.tempSupport.client) {
                    query += `client,`
                }

                query += `}
                            }`
                axios({
                        method: "post",
                        url: "http://localhost:4000",
                        headers: {
                            'Content-Type': 'application/json',
                            'Authorization': 'Bearer ' + TOKEN
                        },
                        data: {
                            query: query
                        }
                    })
                    .then((response) => {
                        // JSON responses are automatically parsed.
                        this.supports = response.data.data.getSupport;
                        var objetivo = document.getElementById('name');
                        objetivo.innerHTML += this.userLogged;
                    })
                    .catch((e) => {
                        // this.errors.push(e);
                        console.log(e);
                    })
                    .finally(() => {});
            },

            logout() {
                const TOKEN = localStorage.getItem("token")
                axios({
                        method: "delete",
                        url: `http://localhost:3000/api/session`,
                        headers: {
                            'Content-Type': 'application/json',
                            'Authorization': 'Bearer ' + TOKEN
                        }
                    })
                    .then((response) => {
                        localStorage.removeItem("token");
                        localStorage.removeItem("tokenData");
                        window.location.replace("./login.html");
                    })
                    .catch((e) => {
                        // this.errors.push(e);
                        console.log(e);
                    })
                    .finally(() => {});
            },


            validateRol() {
                if (tokenData.rol == "Administrador") {
                    var objetivo = document.getElementById('navbar');
                    objetivo.innerHTML += "<nav class='navbar navbar-expand-lg navbar-light bg-light'>" +
                        "<a class='navbar-brand' href='#' id='name'>Welcome </a>" +
                        "<button class='navbar-toggler' type='button' data-toggle='collapse' data-target='#navbarNavDropdown'" +
                        "aria-controls='navbarNavDropdown' aria-expanded='false' aria-label='Toggle navigation'>" +
                        "<span class='navbar-toggler-icon'></span>" +
                        "</button>" +
                        "<div class='collapse navbar-collapse' id='navbarNavDropdown'>" +
                        "<ul class='navbar-nav ml-auto'>" +
                        "<li class='nav-item'>" +
                        "<a class='nav-link' href='../users.html'>Manage Users</span></a></li>" +
                        " <li class='nav-item'>" +
                        "<a class='nav-link' href='../client.html'>Manage Clients</a> </li>" +
                        "<li class='nav-item'><a class='nav-link' href='../contacts.html'>Manage Contacts</a></li>" +
                        "<li class='nav-item'><a class='nav-link' href='../meetings.html'>Manage Meetings</a></li>" +
                        "<li class='nav-item mr-sm-2'><a class='nav-link' href='../support.html'>Support tickets</a></li>" +
                        "<li class='nav-item dropdown'>" +
                        "<a class='nav-link dropdown-toggle' href='' id='navbarDropdown' role='button' data-toggle='dropdown' aria-haspopup='true' aria-expanded='false'> " +
                        "Reports</a>" +
                        "<div class='dropdown-menu' aria-labelledby='navbarDropdown'>" +
                        "<a class='dropdown-item' href='./contactGraph.html'>Contacts</a>" +
                        "<a class='dropdown-item' href='./meetingGraph.html'>Meetings</a>" +
                        "<a class='dropdown-item' href='./supportGraph.html'>Support Tickets</a>" +
                        "</div>" +
                        "</li>" +
                        "<li class='nav-item mr-sm-2'><a class='nav-link' @click='logout'>Logout</a></li>" +
                        "</ul>" +
                        "</div>" +
                        "</nav>";
                } else {
                    var objetivo = document.getElementById('navbar');
                    objetivo.innerHTML += "<nav class='navbar navbar-expand-lg navbar-light bg-light'>" +
                        "<a class='navbar-brand' href='#' id='name'>Welcome </a>" +
                        "<button class='navbar-toggler' type='button' data-toggle='collapse' data-target='#navbarNavDropdown'" +
                        "aria-controls='navbarNavDropdown' aria-expanded='false' aria-label='Toggle navigation'>" +
                        "<span class='navbar-toggler-icon'></span>" +
                        "</button>" +
                        "<div class='collapse navbar-collapse' id='navbarNavDropdown'>" +
                        "<ul class='navbar-nav ml-auto'>" +
                        "<li class='nav-item'>" +
                        "<a class='nav-link' href='./client.html'>Manage Clients</a> </li>" +
                        "<li class='nav-item'><a class='nav-link' href='../contacts.html'>Manage Contacts</a></li>" +
                        "<li class='nav-item'><a class='nav-link' href='../meetings.html'>Manage Meetings</a></li>" +
                        "<li class='nav-item mr-sm-2'><a class='nav-link' href='../support.html'>Support tickets</a></li>" +
                        "<li class='nav-item dropdown'>" +
                        "<a class='nav-link dropdown-toggle' href='' id='navbarDropdown' role='button' data-toggle='dropdown' aria-haspopup='true' aria-expanded='false'> " +
                        "Reports</a>" +
                        "<div class='dropdown-menu' aria-labelledby='navbarDropdown'>" +
                        "<a class='dropdown-item' href='./contactGraph.html'>Contacts</a>" +
                        "<a class='dropdown-item' href='./meetingGraph.html'>Meetings</a>" +
                        "<a class='dropdown-item' href='./supportGraph.html'>Support Tickets</a>" +
                        "</div>" +
                        "</li>" +
                        "<li class='nav-item mr-sm-2'><a class='nav-link' @click='logout'>Logout</a></li>" +
                        "</ul>" +
                        "</div>" +
                        "</nav>";
                }
            },
        },
    });
</script>

</html>